.CVFormEditor {
    font-family: 'Kumbh Sans'
    ;
    display: flex;
    flex-direction: column;
    gap: 35px;
    /* max-width: 425px; */
}

.CVFormEditor form {
    background-color: var(--bg-color);
    border-radius: var(--radius);
    padding: 20px 35px;
}

.CVFormEditor form h2 {
    font-size: 1.813rem;
    font-weight: 500;
    margin-bottom: 0;
    grid-column: 1/3;
}

input, textarea {
    background-color: hsl(0, 0%, 16%);
    padding: 8px 14px;
    border-radius: var(--radius);
    font-family: 'Poppins';
    font-size: 0.875rem;
    color: var(--text-color);
    width: 100%;
    transition: all .3s,transform .2s,-webkit-transform .2s ease-in-out;
}

textarea {
    height: 150px;
}

textarea:focus,
input:focus {
  background-color: hsl(0, 0%, 20%);
  color: white;
  box-shadow: var(--shadow);
}

textarea:active,
input:active {
  transform: scale(.965);
}

form.personal,
form.education .education-item, 
form.experience .experience-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 12px;
}

form.personal :last-child,
form.personal :nth-child(4),
form.personal :nth-child(5),
.education-item :nth-child(3),
.experience-item :nth-child(4),
.experience-item :nth-child(5) {
    grid-column: 1/3;
    resize: none;
}

form.experience .experience-item :nth-child(6) {
    grid-column: 1/2;
}

form.education,
form.experience {
    display: flex;
    flex-direction: column;
    gap: 50px ;
}

textarea:hover,
input:hover {
  background-color: hsl(0, 0%, 17.5%);
}


@media (max-width: 1070px) {
    .CVFormEditor.not-clicked {
        display: none;
    }
}