.CVFormEditor {
    font-family: 'Kumbh Sans'
    ;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-right: 250px;
}

.CVFormEditor form {
    background-color: var(--bg-color);
    border-radius: var(--radius);
    padding: 20px 35px;
    color: white;

    /* display: flex;
    flex-direction: column;
    gap: 8px; */

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.CVFormEditor form h2 {
    font-size: 1.813rem;
    font-weight: 500;
    margin-bottom: 18px;
}

input, textarea {
    background-color: hsl(0, 0%, 16%);
    padding: 8px 14px;
    border-radius: var(--radius);
    font-family: 'Poppins';
    font-size: 0.875rem;
}

