main > header {
    background-color: var(--bg-color);
    width: 425px;
    border-radius: var(--radius);
    padding: 20px 35px;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Kumbh Sans', sans-serif;
  color: white;
  margin-bottom: 13px;
}

.preview-button {
    display: none;
}

@media (max-width: 1070px) {
     main > header, 
    .CVPreview {
        justify-self: center;
    }

    .preview-button {
        display: block;
    }
}

@media (max-width: 428px) {
    main > header {
        width: 260px;
    }
}